*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
    background-color: #fbfbfb;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding-top: 5rem;
    color: gray;

}

.signin {
    font-weight: 100;
    float: right;
}

.btn-class {
    height: 20%;
    padding: .5rem;
    padding-top: .5rem;
    margin-right: .5rem;
}

.signin-text {
    display: inline-block;
    height: 20%;
    padding: .5rem;
    padding-top: .5rem;
    font-size: 12px;
    line-height: 1.5;
}

.icon {
    margin-right: .5rem;
}


.signin-link {
    text-decoration: none;
    color: #0077C5;
    cursor: pointer;
}

.signin-button {
    padding: .5rem 1.2rem;
    border-radius: 5px;
    background-color: #0077C5;
    color: white;
    border: 1px solid black;
    font-size: 13px;
    cursor: pointer;
}

.title {
    font-size: 2rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    cursor: pointer;

}

.sub-headers {
    margin: 1rem;
}

.sub-header {
    display: inline-block;
    font-weight: 100;
    line-height: 1.6;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    margin-left: .5rem;
    cursor: pointer;

}

.form-section{
    width: 350px;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid black;

}